// HEADER-SECTION //
:root {
	--brd-radius-top: 2rem;
	--brd-radius-bottom: 0.4rem;
}

.header {
	&__title {
		font-weight: var(--font-weight-500);
		font-size: 2.5rem;
	}

	&__paragraph {
		line-height: 1.7rem;
		margin-top: 1rem;
	}
}

// APP SECTION //

.app {
	-webkit-box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.27);
	box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.27);

	border-radius: 3rem;
	border: 1rem var(--clr-white) solid;
	max-width: 400px;
    background-color: var(--clr-light-grayish-violet);

	&__header {
		background: linear-gradient(
			to left,
			var(--clr-light-magenta),
			var(--clr-light-violet)
		);
		-webkit-box-shadow: 1px 14px 20px -7px rgba(0, 0, 0, 0.21);
		box-shadow: 1px 14px 20px -7px rgba(0, 0, 0, 0.21);

		display: flex;
		align-items: center;
		padding: 3rem 1rem 1.2rem 1rem;
		border-top-left-radius: var(--brd-radius-top);
		border-top-right-radius: var(--brd-radius-top);
		border-bottom-left-radius: var(--brd-radius-bottom);
		border-bottom-right-radius: var(--brd-radius-bottom);
		letter-spacing: 0.07rem;
		position: relative;

		img {
			height: 1.8rem;
			border-radius: 50%;
			border: 1.5px solid var(--clr-white);
		}
	}

	.walker-info {
		margin-left: 1rem;

		h4 {
			font-size: 0.8rem;
			font-weight: var(--font-weight-500);
		}

		p {
			font-size: 0.6rem;
			color: var(--clr-pale-violet);
		}
	}
}

.fa-chevron-left {
	margin-right: 0.8rem;
	margin-left: 0.3rem;
}

.fa-ellipsis-v {
	margin-left: auto;
	margin-right: 0.5rem;
}

.weird-white-cilinder {
	padding: 6% 30%;
	border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	background-color: var(--clr-white);
	position: absolute;
	bottom: 70%;
	left: 20%;
}
