.clr-very-dark-violet {
    color: var(--clr-very-dark-desaturated-violet);
}

.clr-dark-grayish-violet {
    color: var(--clr-dark-grayish-violet);
}

.clr-white {
    color: var(--clr-white);
}

.clr-grayish-blue {
    color: var(--clr-grayish-blue);
}



.txt-al-center {
    text-align: center;
}



.splitter {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    

    @media (min-width: 60em) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header {
        order: 2;
    }
}